.parsed-board {
  $side: var(--side);
  $thickness: calc(#{$side} * 0.01);

  @apply bg-gray-800;
  @apply h-full;
  @apply w-full;
  @apply grid;
  @apply grid-cols-9;
  @apply grid-flow-row;

  grid-gap: $thickness;
  @apply z-10;
}
