.number-buttons {
  @apply flex;
  @apply justify-center;

  &__container {
    @apply grid;
    @apply mt-2;
    grid-template-columns: repeat(5, theme(spacing.16));
    grid-template-rows: repeat(2, theme(spacing.16));
    @apply gap-2;
    justify-items: center;
    @apply content-center;
    @apply text-center;
  }

  &__button {
    @apply w-16;
    @apply h-16;
    @apply flex;
    @apply justify-center;
    @apply items-center;
    @apply rounded-full;
    @apply bg-gray-900;
    @apply text-gray-200;
    @apply font-bold;
    @apply text-3xl;
  }
}
