.number-buttons {
  @apply flex;
  @apply justify-center;

  &__container {
    @apply grid;
    @apply mt-2;
    grid-template-columns: repeat(5, calc(var(--side) * 0.12));
    grid-template-rows: repeat(2, calc(var(--side) * 0.12));
    @apply gap-2;
    @apply content-center;
    @apply text-center;
  }

  &__button {
    @apply w-full;
    @apply h-full;
    @apply flex;
    @apply justify-center;
    @apply items-center;
    @apply rounded-full;
    @apply bg-gray-900;
    @apply text-gray-200;
    @apply font-bold;

    font-size: calc(var(--side) * 0.06);
  }
}
