.piece {
  $side: 90vw;

  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3b413c;
  color: #ffffff;
  font-size: $side * 0.07;
  font-family: sans-serif;
  user-select: none;
  z-index: 10;

  &--is-wrong {
    background-color: rgb(238, 37, 104);
    color: #1a1a1a;
  }
  
  &--active {
    background-color: #daf0ee;
    color: #3b413c;
  }
}
