.piece {
  $side: 90vw;

  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3b413c;
  color: #ffffff;
  font-size: $side * 0.07;
  font-family: sans-serif;
  user-select: none;
  z-index: 10;

  &--active {
    background-color: #DAF0EE;
    color: #3b413c;
  }
}
