.board-lines {
  $side: var(--side);
  $thickness: calc(#{$side} * 0.01);

  @apply w-full;
  @apply h-full;
  @apply absolute;
  @apply top-0;
  @apply left-0;
  @apply z-10;

  &__lines {
    @apply bg-primary-main;
    @apply absolute;

    &--1 {
      @apply h-full;
      @apply top-0;
      width: $thickness;
      left: calc(100% / 3);
      transform: translateX(-66%);
    }

    &--2 {
      @apply h-full;
      @apply top-0;
      width: $thickness;
      left: calc(100% * 2 / 3);
      transform: translateX(-33%);
    }

    &--3 {
      @apply w-full;
      @apply left-0;
      height: $thickness;
      top: calc(100% / 3);
      transform: translateY(-66%);
    }

    &--4 {
      @apply w-full;
      @apply left-0;
      height: $thickness;
      top: calc(100% * 2 / 3);
      transform: translateY(-33%);
    }
  }
}
