.spinner {
  @apply mx-auto;
  @apply w-6;
  @apply h-6;
  border: 3px solid theme(colors.gray.700);
  border-top-color: theme(colors.primary.main);
  border-radius: 50%;
  animation: rotation 0.8s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
