.pencil-grid {
  @apply text-neutral-100;
  @apply absolute;
  @apply w-full;
  @apply h-full;
  @apply grid;

  z-index: -1;
  padding: calc(var(--side) * 0.003);

  @apply flex flex-wrap-reverse items-center justify-center;

  &__mark {
    flex-basis: 33.33%;
    font-size: calc(var(--side) * 0.022);
    @apply font-bold;
  }

  &--is-active {
    @apply text-gray-900;
  }

  &--is-highlighted {
    @apply text-neutral-900;
  }
}
