.home-page {
  @apply text-center;

  &__header {
    font-size: 3rem;

    @apply font-extrabold;
    @apply text-primary-main;
    @apply mt-5;
    @apply mb-32;

    @screen md {
      font-size: 5rem;
    }

    @screen lg {
      font-size: 7rem;
    }
  }

  &__difficulty-switcher {
    @apply flex justify-center;
    @apply mx-auto;
    @apply text-center;
    @apply w-10/12;

    @screen md {
      @apply w-1/2;
    }
  }

  &__buttons-container {
    @apply mt-12;
    @apply flex;
    @apply flex-col;
  }
}
