.game-board {
  @apply w-side;
  @apply h-side;
  @apply my-0;
  @apply mx-auto;
  @apply z-0;

  @apply bg-transparent;
  @apply relative;

  &__success-overlay {
    @apply absolute;
    @apply top-0;
    @apply w-side;
    @apply h-side;
    @apply z-10;
    @apply flex;
    @apply justify-center;
    @apply items-center;
    @apply text-primary-main;
    @apply font-bold;
    @apply text-3xl;
    @apply bg-black;
    backdrop-filter: blur(4px);
    @apply bg-opacity-75;
  }
}
